<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Our Todo Management App</title>
   <link rel="stylesheet" type="text/css" href="reset.css">
   <link rel="stylesheet" type="text/css" href="my-app.css">
</head>

<body>
   <h1>My Todo-list</h1>
   <article>
      <section>
         <h2>Due Today</h2>
         <p>Submit SaaS 201 project</p>
         <p>Call accountant</p>
      </section>
      <section>
         <h2>Due Tomorrow</h2>
         <p>Refill groceries</p>
      </section>
   </article>
</body>

</html>