<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Our Todo Management App</title>
   <link rel="stylesheet" type="text/css" href="reset.css">
   <link rel="stylesheet" type="text/css" href="my-app.css">
</head>

<body>
   <main class="TodoPageMain">
      <img class="SplashImage" src="side-image.jpg" />
      <article>
         <h1 class="TodoPage-title">My Todo-list</h1>
         <section class="TodoSection">
            <h2 class="TodoSection-title">Due Today</h2>
            <p class="TodoSection-todo">Submit SaaS 201 project</p>
            <p class="TodoSection-todo">Call accountant</p>
         </section>
         <section class="TodoSection">
            <h2 class="TodoSection-title">Due Tomorrow</h2>
            <p class="TodoSection-todo">Refill groceries</p>
         </section>
      </article>
</body>
</main>

</html>