<html>

<head>
   <link rel="stylesheet" type="text/css" href="reset.css">
</head>

<body>
   <section>
      <h1>This is the first HTML page</h1>
      <h2>An H2 heading</h2>
      <h3>Typing what I want to show inside the tag</h3>
      <p>We can place a long text which will be rendered as regular text</p>
   </section>

   <section>
      <h1>This is the first HTML page</h1>
      <h2>An H2 heading</h2>
      <h3>Typing what I want to show inside the tag</h3>
      <p>We can place a long text which will be rendered as regular text</p>
   </section>
</body>

</html>